{{$name := .Get "name"}}
{{$team := .Get "team"}}
{{$id := replace $name " " "-"}}
{{$id := replace $id "/" "-"}}
<div class="card">
    <div class="card-header" id="heading{{$id}}{{$team}}">
        <button class="btn btn-block text-left collapsed mb-0 mt-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{$id}}{{$team}}" aria-expanded="false" aria-controls="collapse{{$id}}{{$team}}">
            <h5 class="mb-0 mt-0">
               {{$name}}
            </h5>
        </button>
    </div>
    <div id="collapse{{$id}}{{$team}}" class="collapse" aria-labelledby="heading{{$id}}{{$team}}">
        <div class="card-body row">
            {{ .Inner }}
        </div>
    </div>
</div>
