

<style>
    .publication_list{
        display:none;
    }
    .publication_list div{
        overflow-y:auto; 
        max-height:400px;
        /* margin-bottom:5px; */
    }
    .publication_list summary{
    	padding-top:5px;
        padding-bottom: 5px;
    }
</style>

<details class="publication_list"  open="">
    <summary>
        <h5 style="display:inline"> Journal articles <small id="journal_num">24</small> </h5>
    </summary>

    <div  id="journal_papers">
    </div>

</details>

<details class="publication_list" >
    <summary>
        <h5 > Preprints <small id="preprint_num">(24)</small> </h5>
    </summary>

    <div  id="preprint_papers" >
    </div>
</details>

<details class="publication_list">
    <summary>
        <h5 >HDR <small id="hdr_num">(24)</small> </h5>
    </summary>

    <div  id="hdr_papers" >
    </div>
</details>

<details class="publication_list" >
    <summary>
        <h5 > Thesis <small id="thesis_num">(24)</small> </h5>
    </summary>

    <div  id="thesis_papers" >
    </div>
</details>

<details class="publication_list" >
    <summary>
        <h5 > Conferences and workshops <small id="conference_num">(24)</small> </h5>
        </summary>

        <div id="conference_papers" >

        </div>
</details>

<details class="publication_list">
    <summary>
        <h5 >Book chapters <small id="book_num">(24)</small> </h5>
    </summary>

    <div  id="book_papers" >
    </div>
</details>

<details class="publication_list">
    <summary>
        <h5 > Reports <small id="report_num">(24)</small> </h5>
    </summary>

    <div  id="report_papers" >
    </div>
</details>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

// funciton using the hal api to update the placeholders in the site
function load_data_from_hall(url, id_div, id_num){
    $.ajax({
        url: url,
        dataType: "application/json",
        complete: function(data){
            data = JSON.parse(data.responseText);
            papers = data.response.docs
            if(papers.length==0) {
                return;
            }else{
                $('#'+id_div).parent().css("display","block")
            }
            //console.log(papers)
            papers.sort(function(b,a){
                return a.publicationDateY_i - b.publicationDateY_i 
            })
            year = 0
            $('#'+id_num).html('('+papers.length+')')

            
            papers.forEach(function(paper){
                if(paper.publicationDateY_i != year){
                    year = paper.publicationDateY_i
                    $('#'+id_div).html( $('#'+id_div).html() + "<h5 class='publication' style='text-align:left;color:#e63312'>"+year+"</h5>")
                }
                doi = ''
                if(typeof paper.doiId_s !== 'undefined') {
                   doi = ' <a target="_blank" href="https://doi.org/'+paper.doiId_s+'">'+paper.doiId_s+'</a>'
                }
                journalOrConference = ((paper.journalTitle_s) ? paper.journalTitle_s  : ((paper.conferenceTitle_s) ? paper.conferenceTitle_s : ((paper.bookTitle_s) ? paper.bookTitle_s : '') ))
                if(journalOrConference !== '') {
                   journalOrConference = '<br><em>'+ journalOrConference +'</em>.'
                }
                $('#'+id_div).html( $('#'+id_div).html() +
                '<p style="margin-top:10px;margin-bottom:10px"><b>'+ paper.title_s[0] +'</b><br> '+ 
                ((paper.authFullName_s.length < 7) ? paper.authFullName_s.join(", ") : paper.authFullName_s.slice(0, 6).join(", ") + ' et al.')
                + journalOrConference + doi+' / <a target="_blank" href="https://inria.hal.science/'+paper.halId_s+'">'+paper.halId_s+'</a> <span class="'+(paper.openAccess_bool || paper.fileMain_s !== undefined ? 'green-dot' : 'red-dot')+'" title="'+(paper.openAccess_bool || paper.fileMain_s !== undefined ? 'Text is freely available' : 'Text is not freely available')+'"></span></p>')
            })
        },
        success: function(data){
        }
    })
}

{{$start_year := .Get "start_year" }}
{{$hal_id := .Get "hal_id" }}
{{$hal_id_institution := .Get "hal_id_institute" }}
{{if $hal_id }}
querry = "authIdHal_s:"+'{{ $hal_id }}'
{{ else if $hal_id_institution}}
querry = "structId_i:"+'{{ $hal_id_institution }}'
{{ end }}
// journal papers
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND docType_s:ART AND (producedDateY_i:['+'{{ $start_year }}'+' TO *] OR publicationDateY_i:['+'{{ $start_year }}'+' TO *]) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s,journalTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'journal_papers',
'journal_num'
)

// conference papers
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND docType_s:COMM AND ((proceedings_s:0 AND conferenceStartDateY_i:['+'{{ $start_year }}'+' TO *]) OR (proceedings_s:1 AND ((NOT publicationDateY_i:* AND conferenceStartDateY_i:['+'{{ $start_year }}'+' TO *]) OR (publicationDateY_i:['+'{{ $start_year }}'+' TO *])))) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s,journalTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'conference_papers',                                 
'conference_num'
)

// preprints
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND docType_s:"UNDEFINED" AND (producedDateY_i:['+'{{ $start_year }}'+' TO *] OR publicationDateY_i:['+'{{ $start_year }}'+' TO *]) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s,journalTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'preprint_papers',
'preprint_num'
)


// Report
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND docType_s:REPORT AND (producedDateY_i:['+'{{ $start_year }}'+' TO *] OR publicationDateY_i:['+'{{ $start_year }}'+' TO *]) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s,journalTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'report_papers',
'report_num'
)

// Thesis
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND docType_s:THESE AND (producedDateY_i:['+'{{ $start_year }}'+' TO *] OR publicationDateY_i:['+'{{ $start_year }}'+' TO *]) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s,journalTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'thesis_papers',
'thesis_num'
)

// book sections
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND (docType_s:%22OUV%22 OR docType_s:%22COUV%22 OR docType_s:%22DOUV%22) AND NOT popularLevel_s:1 AND audience_s:2 AND (producedDateY_i:['+'{{ $start_year }}'+' TO *] OR publicationDateY_i:['+'{{ $start_year }}'+' TO *]) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s, bookTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'book_papers',
'book_num'
)

// HDR
load_data_from_hall(
'https://api.archives-ouvertes.fr/search/inria/?q='+querry+' AND docType_s:HDR AND (producedDateY_i:['+'{{ $start_year }}'+' TO *] OR publicationDateY_i:['+'{{ $start_year }}'+' TO *]) AND submittedDateY_i:['+'{{ $start_year }}'+' TO *]&rows=999&wt=json&fl=authFullName_s,conferenceTitle_s,doiId_s,halId_s,fileMain_s,journalTitle_s,openAccess_bool,publicationDateY_i,title_s&sort=auth_sort asc',
'hdr_papers',
'hdr_num'
)
</script>
