<!--more-->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" async></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"><link rel="stylesheet" href="http://localhost:1313/css/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-projects-tab" data-toggle="tab" data-target="#nav-projects" type="button" role="tab" aria-controls="nav-projects" aria-selected="true">Projects</button>
    <button class="nav-link" id="nav-collaborations-tab" data-toggle="tab" data-target="#nav-collaborations" type="button" role="tab" aria-controls="nav-collaborations" aria-selected="false">Collaborations</button>
    <button class="nav-link" id="nav-collaborations-tab" data-toggle="tab" data-target="#nav-newresults" type="button" role="tab" aria-controls="nav-newresults" aria-selected="false">New results</button>
    <button class="nav-link" id="nav-collaborations-tab" data-toggle="tab" data-target="#nav-seminars" type="button" role="tab" aria-controls="nav-seminars" aria-selected="false">Seminars</button>
  </div>
</nav>

<div class="row">
    <div class="col-lg-12">
        {{ $tag := default .Page.Params.tag (.Get "tag") }}
        {{ $permalink:= .Page.Permalink }}
        <div class="posts-list">
        <div class="tab-content" id="nav-tabContent">
        {{ $pagesTag := where .Site.RegularPages "Params.tags" "intersect" (slice $tag)}}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "project"))}}
        {{if $pages }}
        <div class="tab-pane fade show active" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
        <h5 style='font-weight: bold;'>Projects</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        </div>
        {{ end }}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "collaboration"))}}
        {{if $pages }}
        <div class="tab-pane fade" id="nav-collaborations" role="tabpanel" aria-labelledby="nav-collaborations-tab">
        <h5 style='font-weight: bold;'>Collaborations</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        </div>
        {{ end }}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "newresult"))}}
        {{if $pages }}
        <div class="tab-pane fade" id="nav-newresults" role="tabpanel" aria-labelledby="nav-newresults-tab">        
        <h5 style='font-weight: bold;'>New results</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        </div>
        {{ end }}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "seminar"))}}
        {{if $pages }}
        <div class="tab-pane fade" id="nav-seminars" role="tabpanel" aria-labelledby="nav-seminars-tab">
        <h5 style='font-weight: bold;'>Seminars</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        </div>
        {{ end }}
        <!--{{if $pagesTag }}
        <h5 style='font-weight: bold;'>Others</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
        {{ $s := slice "team" "project" "collaboration" "newresults" "seminar" }}
        {{ if not (in $s .Params.tag ) }}
            {{ partial "post_preview.html" .}}
        {{ end }}
        {{ end }}
        {{ end }}-->
        </div>
        {{ if $pagesTag }}
        <h5 style='font-weight: bold;'><small><a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/">See all related topics to #{{ $tag }}</a></small></h5>  
            <!-- <h4 >Related topics <small><a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a></small></h4>-->  
        {{end}}
        </div>
        <!-- <h5><a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/" style="font-weigth:800;color:#404040;"> [see All]</a></h5> -->
        <!-- <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a> -->
    </div>
</div>
