<!--more-->
<div class="row">
    <div class="col-lg-12">
        {{ $tag := default .Page.Params.tag (.Get "tag") }}
        {{ $permalink:= .Page.Permalink }}
        <div class="posts-list">
        {{ $pagesTag := where .Site.RegularPages "Params.tags" "intersect" (slice $tag)}}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "project"))}}
        {{if $pages }}
        <h5 style='font-weight: bold;'>Projects</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        <hr>
        {{ end }}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "collaboration"))}}
        {{if $pages }}
        <h5 style='font-weight: bold;'>Collaborations</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        <hr>
        {{ end }}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "newresult"))}}
        {{if $pages }}
        <h5 style='font-weight: bold;'>New results</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        <hr>
        {{ end }}
        {{ $pages := $pagesTag | intersect (where .Site.RegularPages "Params.tags" "intersect" (slice "seminar"))}}
        {{if $pages }}
        <h5 style='font-weight: bold;'>Seminars</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
            {{ partial "post_preview.html" .}}
        {{ end }}
        <hr>
        {{ end }}
        <!--{{if $pagesTag }}
        <h5 style='font-weight: bold;'>Others</h5>
        {{ range where $pages.ByDate.Reverse.ByWeight ".Permalink" "ne" $permalink}}
        {{ $s := slice "team" "project" "collaboration" "newresults" "seminar" }}
        {{ if not (in $s .Params.tag ) }}
            {{ partial "post_preview.html" .}}
        {{ end }}
        {{ end }}
        {{ end }}-->
        {{ if $pagesTag }}
        <h5 style='font-weight: bold;'><small><a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/">See all related topics to #{{ $tag }}</a></small></h5>  
            <!-- <h4 >Related topics <small><a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a></small></h4>-->  
        {{end}}
        </div>
        <!-- <h5><a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/" style="font-weigth:800;color:#404040;"> [see All]</a></h5> -->
        <!-- <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a> -->
    </div>
</div>
