{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-12">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <div class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <p class="previous"  style="float: left;">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </p>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <p class="next" style="float: right;">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </p>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
