{{ define "main" }}
  {{$tag_main := .Params.list_tag}}
  <div class="container" role="main">
    <div class="row">
      <div class="col-12">
        <div class="posts-list">
           {{ $pages := where .Site.Pages "Params.tags" "intersect" $tag_main}}
           {{ range $pages.ByDate.Reverse.ByWeight }}
               {{ partial "post_preview.html" .}}
           {{ end }}
        </div>
      </div>
    </div>
    {{ with .Content }}
    <div class="row">
      <div class="col-lg-12">
      {{.}}
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
