{{ define "main" }}
<div class="container" role="main">
   <div class="row">
    <div class="col-lg-12">
      <article role="main" class="blog-post">
        {{ if .Params.image}}
        <div style="float: right;max-width:600px;padding:30px">
	<img src="{{.Params.image}}" alt="Solution illustration" class="img-title media-object" style="width: {{ .Params.imagesize }}%;"/>
	</div>
	{{ end }}
	<h5 id="abstract"><strong>Abstract</strong></h5>
	<p>{{ with .Params.abstract }}{{ . | safeHTML }}{{ end }}</p>
	{{ if .Params.keywords}}
	<h5 id="keywords"><strong>Keywords</strong></h5>
	<p>{{ delimit .Params.keywords " " }}</p>
	{{ end }}
        {{ .Content }}
        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}
      </article>
    </div>
  </div>
</div>

{{ end }}
