{{ define "main" }}
<div role="main" class="container">
  <div class="row">
    <div class="col-12 col-lg-12">
      {{ with .Content }}
      {{.}}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
