  {{ if eq .Type "page" }}
    {{ partial "page_meta.html" . }}
  {{ end }}
  <div class="mt-auto"></div>
  <footer class="text-left text-md-center mt-4 mt-md-5 py-2 px-3 p-md-4">
    
    <p class="text-muted my-0 py-0 pb-md-2">
      {{ if .Site.Author.name }}
        {{ if .Site.Author.website }}
          <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
        {{ else }}
          {{ .Site.Author.name }}
        {{ end }}
      {{ end }}

      &nbsp;&bull;&nbsp;&copy;
      {{ if .Site.Params.since }}
        {{ .Site.Params.since }} - {{ .Site.Lastmod.Format "2006" }}
      {{ else }}
        {{ .Site.Lastmod.Format "2006" }}
      {{ end }}

      {{ if .Site.Title }}
        &nbsp;&bull;&nbsp;
        <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
      {{ end }}
    </p>

    <!-- Please don't remove this, keep my open source work credited :) -->
    <p class="small my-0 py-0">
      {{ i18n "poweredBy" . | safeHTML }}
      {{ if $.GitInfo }}&nbsp;&bull;&nbsp;[<a href="{{ .Site.Params.commit }}{{ .GitInfo.Hash }}">{{ substr .GitInfo.Hash 0 8 }}</a>]{{ end }}
    </p>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js" integrity="sha512-sNylduh9fqpYUK5OYXWcBleGzbZInWj8yCJAU57r1dpSK9tP2ghf/SRYCMj+KsslFkCOt3TvJrX2AV/Gc3wOqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{{ "js/main.js" | absURL }}"></script>


{{- partial "footer_custom.html" . }}
