{{- if .Params.speaker -}}
  {{- $formattedDate := (.Params.date | time.Format "2006-01-02") -}}
  {{- $.Scratch.Set "Description" (printf "Seminar by %s on %s about %s" .Params.speaker $formattedDate .Title) -}}
  {{- $.Scratch.Set "Title" (printf "Seminar by %s on %s" .Params.speaker $formattedDate) }}
{{- else -}}
  {{- $.Scratch.Set "Description" ( .Description | default .Params.subtitle | default .Summary ) -}}
  {{- $.Scratch.Set "Title" ( .Title | default .Site.Title ) }}
{{- end -}}


  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!-- Site Title, Description, Author, and Favicon -->
{{- with ($.Scratch.Get "Title") }}
  <title>{{ $.Site.Title }} - {{ . }} </title>
{{- end }}
{{- with ($.Scratch.Get "Description") }}
  <meta name="description" content="{{ . }}">
{{- end }}
{{- with .Site.Author.name }}
  <meta name="author" content="{{ . }}"/>
{{- end }}
{{- with .Params.keywords }}
{{- if . }}
  <meta name="keywords" content="{{ delimit . ", " }}">
{{- end -}}
{{- end -}}
{{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}
<!-- Hugo Version number -->
  {{ hugo.Generator -}}
<!-- Links and stylesheets -->
  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "css/main.css" | absURL }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />



{{- partial "head_custom.html" . }}
