{{ $title := cond .IsHome (cond .Site.Params.homeTitle .Site.Params.homeTitle .Site.Title) .Title }}
{{ $subtitle := cond .IsHome .Site.Params.subtitle .Params.subtitle }}

<header class="intro-header pt-2 pt-md-5">
  <div class="container">
    {{ $isList := eq .Type "list" }}
    {{ $pageTitle := cond $isList (printf "#%s" .Title) $title }}

    {{ if in .Params.tags "paper" }}
      {{ template "header_section" (dict "title" $pageTitle "subtitle" $subtitle "authors" .Params.authors "publishedin" .Params.publishedin "useSection" true) }}

    {{ else if in .Params.tags "team" }}
      {{ template "team_member" (dict "title" $pageTitle "affiliation" .Params.affiliation "image" .Params.image "interests" .Params.interests "email" .Params.email "webpage" .Params.webpage "location" .Params.location) }}

    {{ else if in .Params.tags "project" }}
      {{ template "project_header" (dict "title" $pageTitle "subtitle" $subtitle "authors" .Params.authors "consortium" .Params.consortium "funding" .Params.funding "start" .Params.start "end" .Params.end "useSection" false) }}

    {{ else if in .Params.tags "collaboration" }}
      {{ template "collaboration_header" (dict "title" $pageTitle "subtitle" $subtitle "authors" .Params.authors "image" .Params.image "consortium" .Params.consortium "funding" .Params.funding "duration" .Params.duration "show_title" true "useSection" false) }}

    {{ else if in .Params.tags "job" }}
      {{ template "job_header" (dict "title" $pageTitle "subtitle" $subtitle "authors" .Params.authors "type" .Params.type "duration" .Params.duration "info_url" .Params.info_url "active" .Params.active "useSection" true) }}

    {{ else if in .Params.tags "seminar" }}
      {{ template "seminar_header" (dict "title" .Params.title "speaker" .Params.speaker "institution" .Params.institution "position" .Params.position "date" .Params.date "website" .Params.website) }}

    {{ else if and (in .Params.tags "news") (not (in .Params.tags "seminars")) }}
      {{ template "header_section" (dict "title" $pageTitle "subtitle" $subtitle "useSection" true) }}

    {{ else }}
      {{ template "default_header" (dict "title" $pageTitle "subtitle" $subtitle) }}
    {{ end }}
  </div>
</header>

{{ define "header_section" }}
  {{ if .useSection }}
    <section class="text-md-center">
      <h1>{{ .title }}</h1>
      {{ if .subtitle }}
        <h2 class="h4 font-weight-light mt-0 mb-4">{{ .subtitle }}</h2>
      {{ end }}
      {{ if .authors }}
        <h3 class="h5">{{ .authors }}</h3>
      {{ end }}
      {{ if .publishedin }}
        <h4 class="h6 font-italic">Published in {{ .publishedin }}</h4>
      {{ end }}
    </section>
  {{ else }}
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading text-center">
          <h1>{{ .title }}</h1>
          {{ if .subtitle }}
            <h2 class="h4 font-weight-light mt-0 mb-4">{{ .subtitle }}</h2>
          {{ end }}
          {{ if .authors }}
            <h3 class="h5">{{ .authors }}</h3>
          {{ end }}
          {{ if .publishedin }}
            <h4 class="h6 font-italic">Published in {{ .publishedin }}</h4>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "team_member" }}
  <div class="row">
    <div class="col-12 col-md-3 mb-5 mb-md-0 text-center">
      <div class="col-6 col-sm-7 col-md-12 mx-auto">
        <img src="{{ .image | default "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Crystal_Clear_kdm_user_female.svg/128px-Crystal_Clear_kdm_user_female.svg.png" }}" alt="{{ .title }}" class="img-shadow rounded-circle"/>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <h1 class="mb-0">{{ .title }}</h1>
      {{ if .affiliation }}
        <h2 class="font-weight-light mt-0">{{ .affiliation }}</h2>
      {{ end }}
      <ul class="list-unstyled">
        {{ if .interests }}
          <li><strong>Professional interests:</strong> {{ .interests }}</li>
        {{ end }}
        {{ if .email }}
          <li><strong>Email:</strong> <a href="mailto:{{ .email }}">{{ .email }}</a></li>
        {{ end }}
        {{ if .webpage }}
          <li><strong>Webpage:</strong> <a href="{{ .webpage }}">{{ .webpage }}</a></li>
        {{ end }}
        {{ if .location }}
          <li><strong>Location:</strong> {{ .location }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}

{{ define "project_header" }}
  {{ template "header_section" . }}
  <div class="d-flex justify-content-center mt-3 mt-sm-4">
    <div>
      <p class="h3 fw-bold mt-0">Project info</p>
      <ul class="list-unstyled mb-0">
        {{ if .consortium }}
          <li class="h5"><strong>Consortium:</strong> {{ .consortium }}</li>
        {{ end }}
        {{ if .funding }}
          <li class="h5"><strong>Funding:</strong> {{ .funding }}</li>
        {{ end }}
        {{ if .start }}
          <li class="h5"><strong>Duration:</strong> {{ .start }} - {{ default "ongoing" .end }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}

{{ define "collaboration_header" }}
  {{ template "header_section" . }}
  <div class="row">
    <div class="col-8 col-md-4 mx-auto text-center">
      {{ if .image }}
        <img src="{{ .image }}" class="mw-100"/>
      {{ end }}
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 mt-sm-4">
    <ul class="list-unstyled mb-0">
      {{ if .consortium }}
        <li class="h5"><strong>Consortium:</strong> {{ .consortium }}</li>
      {{ end }}
      {{ if .funding }}
        <li class="h5"><strong>Funding:</strong> {{ .funding }}</li>
      {{ end }}
      {{ if .duration }}
        <li class="h5"><strong>Duration:</strong> {{ .duration }}</li>
      {{ end }}
    </ul>
  </div>
{{ end }}

{{ define "job_header" }}
  {{ template "header_section" . }}
  <div class="d-flex justify-content-center mt-3 mt-sm-4">
    <ul class="list-unstyled mb-0">
      {{ if .type }}
        <li class="h5"><strong>Position type:</strong> {{ .type }}</li>
      {{ end }}
      {{ if .duration }}
        <li class="h5"><strong>Duration:</strong> {{ .duration }}</li>
      {{ end }}
      {{ if .info_url }}
        {{ $parsed_url := urls.Parse .info_url }}
        <li class="h5"><strong>More info:</strong> <a href="{{ .info_url }}">{{ cond (gt (len $parsed_url.Host) 0) $parsed_url.Host .info_url }}</a></li>
      {{ end }}
      <li class="h5"><strong>Status:</strong> {{ cond .active "active" "<span class='text-danger'>inactive</span>" | safeHTML }}</li>
    </ul>
  </div>
{{ end }}

{{ define "seminar_header" }}
  <div class="row">
    <div class="col-md-12">
      <div class="page-heading">
        <h2>{{ .title }}</h2>
        {{ if .website }}
          <h3 class="page-subheading"><strong><a href="{{ .website }}">{{ .speaker }}</a></strong></h3>
        {{ else }}
          <h3 class="page-subheading"><strong>{{ .speaker }}</strong></h3>
        {{ end }}
        {{ if .institution }}
          {{ if .position }}
            <h6 style="margin-top:10px"><emph>{{ .position }}, {{ .institution }}</emph></h6>
          {{ else }}
            <h5 class="page-subheading">{{ .institution }}</h5>
          {{ end }}
        {{ else }}
          {{ if .position }}
            <h5 class="page-subheading">{{ .position }}</h5>
          {{ end }}
        {{ end }}
        <h5>{{ dateFormat "2006-01-02" .date }}</h5>
        {{ if eq .Type "post" }}
          {{ partial "post_meta.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "default_header" }}
  <div class="row">
    <div class="col-md-12">
      <div class="page-heading">
        <h1>{{ .title }}</h1>
        {{ if ne .Type "post" }}
          <!-- <hr class="small"> -->
        {{ end }}
        {{ if .subtitle }}
          {{ if eq .Type "page" }}
            <span class="page-subheading">{{ .subtitle }}</span>
          {{ else }}
            <h3 class="page-subheading">{{ .subtitle }}</h3>
          {{ end }}
        {{ end }}
        {{ if eq .Type "post" }}
          {{ partial "post_meta.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

