<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
  <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      {{ range .Site.Menus.main.ByWeight }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
